<!--====== BANNER PART START ======-->

<section class="banner-area">
<div class="banner-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-9">
                <div class="banner-content">
                    <h1 class="title wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1s">Un réseau de spécialistes du numérique</h1>
                    <span class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="1.5s">pour les organismes et les entreprises créatives</span>
                    <p class="wow fadeInLeft" data-wow-duration="1.2s" data-wow-delay="2s">
                      C’est une période extraordinairement stimulante pour tous ceux et celles qui s’intéressent à l’utilisation du numérique dans le domaine de la culture et de la créativité! Les projets foisonnent et les organisations qui les portent ont très souvent besoin d‘une aide personnalisée qui allie formation, conseils et accompagnement.
                      <br/><br/>
                      A10s a pour mission d'accompagner ces organisations de façon pragmatique, en combinant rigueur et bonne humeur, pour les aider à prendre des décisions et réaliser leurs projets numériques avec confiance.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-shape-1">
</div>
<div class="banner-shape-2">
    <img src="{{relative_url}}/assets/images/banner-shape-1.png" alt="">
</div>
<div class="banner-shape-3">
    <img src="{{relative_url}}/assets/images/banner-shape-2.png" alt="">
</div>
</section>

<!--====== BANNER PART ENDS ======-->
