<!--====== SERVICES PART START ======-->

<section class="services-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 class="title"><span>Qu'est-ce que ça veut dire?</span></h2>
                    <p>Les éléments clés de notre mission...</p>
                </div>
            </div>
        </div>
        <div class="row services-active">
        	<div class="col-lg-4">
        		<div class="services-item text-center mt-30">
        			<h3 class="title">Organisations des industries créatives</h3>
        			<i class="fal fa-file-image"></i>
        			<p>Nous travaillons avec des organisations, petites et grandes, privées ou publiques, OBNL ou pas, qui ont en commun de créer, produire ou commercialiser des contenus de nature culturelle ou immatérielle. <i>Au départ, on avait des doutes sur le terme «industries créatives», mais après <a href="https://fr.wikipedia.org/wiki/Industries_cr%C3%A9atives">avoir lu ceci</a>, à bien y penser, c’est en plein ça le fil conducteur de tous nos projets...</i></p>
        		</div>
        	</div>
        	<div class="col-lg-4">
        		<div class="services-item text-center mt-30">
        			<h3 class="title">Pragmatisme</h3>
        			<i class="fal fa-fist-raised"></i>
        			<p>Même si nous travaillons comme consultants, la fibre d’entrepreneur et de créateur vibre aussi chez nous. Nous tenons à ce que nos propositions soient concrètes, applicables, réalistes, efficaces. Nous savons que la meilleure des idées n’a pas d’impact si elle n’est pas bien exécutée. Nous croyons qu’il faut prioriser les actions, choisir celles dont les résultats sont plus importants que les coûts, et tenir compte de l’effet d’ensemble des décisions spécifiques qui sont prises.</p>
        		</div>
        	</div>
        	<div class="col-lg-4">
        		<div class="services-item text-center mt-30">
        			<h3 class="title">Rigueur et bonne humeur pour prendre des décisions</h3>
        			<i class="fal fa-smile"></i>
        			<p>Nous avons la conviction qu’il est possible d’être très rigoureux sans trop se prendre au sérieux. Et qu’il est nécessaire de travailler dans l’enthousiasme et la bonne humeur pour prendre de bonnes décisions et agir efficacement.</p>
        		</div>
        	</div>
        	<div class="col-lg-4">
        		<div class="services-item text-center mt-30">
        			<h3 class="title">Réaliser des projets numériques</h3>
        			<i class="fal fa-laptop-code"></i>
        			<p>Pour nous, le «numérique», au-delà du buzzword, c’est l’intersection des technologies de l’information, et de nouvelles pratiques de travail et de relation avec le public. Nos expériences et nos expertises sont ancrées là-dedans: les membres de notre réseau ont comme point commun d’oeuvrer dans ce secteur, et d’être confortable à travailler sur cette intersection.</p>
        		</div>
        	</div>
        	<div class="col-lg-4">
        		<div class="services-item text-center mt-30">
        			<h3 class="title">Confiance</h3>
        			<i class="fal fa-chart-bar"></i>
        			<p>Travailler avec des gens qui ont de l’expérience et qui ont déjà réalisé avec succès des projets complexes, s’appuyer sur des données pour prendre des décisions, utiliser les bons outils au bon moment, être accompagné par des gens qui peuvent agir comme «interprètes» entre les besoins utilisateurs et le jargon technique, c’est autant de façons d’avancer en ayant confiance que son projet soit un succès.</p>
        		</div>
        	</div>
        </div>
    </div>
</section>

<!--====== SERVICES PART ENDS ======-->
