<!--====== SERVICES 3 PART START ======-->

<section class="services-3-area pb-125">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="section-title text-center">
                    <h2 class="title">Sur quoi travaillons-nous?</h2>
                    <p>Nous choisissons de nous adapter à chaque projet selon son contexte et ses contraintes, mais nous avons aussi un «coffre à outils» de technologies, de méthodologies et de sujets avec lesquels nous travaillons avec plaisir et efficacité.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="0ms">
                    <i class="fal fa-table mb-15"></i><br>
                    <h4 class="title">Airtable</h4>
                    <p>Système convivial de gestion de base de données</p>
                    <a href="/formation-accompagnement-et-developpement-airtable" target="blank">En savoir plus... <i class="far fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="300ms">
                    <i class="fal fa-umbrella-beach mb-15"></i><br>
                    <h4 class="title">Zapier, Stacker et outils «nocode»</h4>
                    <p>Interactions et interfaces</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms">
                    <i class="fal fa-analytics mb-15"></i><br>
                    <h4 class="title">Google Analytics et Search Console</h4>
                    <p>Et les autres outils de la suite marketing de Google, </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="900ms">
                    <i class="fal fa-spider mb-15"></i><br>
                    <h4 class="title">Hercules</h4>
                    <p>Plateforme de moissonnage de données sur le web</p>
                    <a href="https://www.hercules.report/" target="blank">En savoir plus... <i class="far fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="900ms">
                    <i class="fal fa-head-side-brain mb-15"></i><br>
                    <h4 class="title">TAMIS</h4>
                    <p>L'IA pour générer des métadonnées enrichies.</p>
                    <a href="https://tamis.ca/" target="blank">En savoir plus...<i class="far fa-long-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms">
                    <i class="fal fa-users mb-15"></i><br>
                    <h4 class="title">Analyse et documentation des besoins</h4>
                    <p>Notamment avec la technique <a href="https://fr.wikipedia.org/wiki/QQOQCCP">QQOQCCP</a> et les <a href="https://fr.wikipedia.org/wiki/R%C3%A9cit_utilisateur">récits utilisateurs</a>.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms">
                    <i class="fal fa-calendar-alt mb-15"></i><br>
                    <h4 class="title">Planification et gestion de projets</h4>
                    <p>Stratégie, cahiers des charges, budgets, échéanciers.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms">
                    <i class="fal fa-comments-alt mb-15"></i><br>
                    <h4 class="title">Médiation numérique</h4>
                    <p>Accompagnement, interfaçage avec les équipes de développement.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms">
                    <i class="fal fa-eye mb-15"></i><br>
                    <h4 class="title">Audit de découvrabilité</h4>
                    <p>Évaluation multifacettes des stratégies utilisées.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms">
                    <i class="fal fa-ruler mb-15"></i><br>
                    <h4 class="title">Mesure d'impacts</h4>
                    <p>Évaluation du succès des efforts de stimulation de la découvrabilité.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms">
                    <i class="fal fa-balance-scale-left mb-15"></i><br>
                    <h4 class="title">Étude de faisabilité</h4>
                    <p>Analyse de projets, validation des solutions, estimations de coûts.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-7">
                <div class="services-item mt-30 text-center wow fadeIn" data-wow-duration="1500ms" data-wow-delay="600ms">
                    <i class="fal fa-shapes mb-15"></i><br>
                    <h4 class="title">Prototypage et preuves de concept</h4>
                    <p>De solutions technologiques appliquées à des problèmes concrets.</p>
                </div>
            </div>
        </div>
    </div>
</section>
