<!--====== TEAM 2 PART START ======-->

<section class="team-2-area">
    <div class="container">
        <div class="row ">
            <div class="col-lg-9">
                <div class="section-title mt-45">
                    <h2 class="title">Le réseau</h2>
                    <p class="text">A10s est formé d'un réseau de professionnels indépendants qui souhaitent travailler — à temps plein ou à temps partiel — à rendre concrets des projets innovants.
                    <br/><br/>
                    Nous accordons une très grande importance à la rigueur et à la bonne humeur. Nous sommes convaincus que ce qui se fait dans le plaisir a plus de chance de réussir. Si cela vous rejoint et que vous aimeriez faire partie du réseau, <a href="/contact">écrivez-nous!</a></p>
                </div>
            </div>
            <div class="col-lg-3">
            	<div class="row justify-content-center">
            		<div class="col-lg-6 col-md-6 col-sm-8">
            			<div class="team-item mt-30">
            				<div class="team-thumb">
            					<img src="/assets/images/christian.jpg" alt="postteam">
            					<ul>
                        <li><a href="https://www.linkedin.com/in/christianroyquebec/" target="blank"><i class="fab fa-linkedin"></i></a></li>
            						<li><a href="https://twitter.com/christianroy" target="blank"><i class="fab fa-twitter"></i></a></li>
            						<li><a href="https://github.com/christianroy" target="blank"><i class="fab fa-github"></i></a></li>
            						<li><a href="http://unchristianroy.com/" target="blank"><i class="fab fa-browser"></i></a></li>
            					</ul>
            				</div>
            				<div class="team-content text-center">
            					<h3 class="title">Christian Roy</h3>
            					<span>Fondateur et consultant</span>
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
        </div>
    </div>
</section>

<!--====== TEAM 2 PART ENDS ======-->
