<!doctype html>
<html lang="fr">
{% include head.html %}
<body>
  {% include gtm_body.html %}

    <!--====== PRELOADER PART START ======-->

    <div class="preloader" id="preloader">
        <div class="three ">
            <div class="loader" id="loader">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <!--====== PRELOADER PART START ======-->

    {% include header.html %}
    {{content}}
    {% include footer.html %}
    {% include scripts.html %}
    <script type="application/ld+json">{% include organization.json %}</script>
</body>
</html>
