<!doctype html>
<html lang="fr">
{% include head.html %}
<body>
{% include gtm_body.html %}
<div class="preloader" id="preloader">
    <div class="three ">
        <div class="loader" id="loader">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
    {% include header_2.html %}
    {{content}}
    {% include footer_2.html %}
    {% include scripts.html %}
    <script type="application/ld+json">{% include organization.json %}</script>
</body>

</html>
