<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">

  {% include head.html %}

  <body>

    {% include gtm_body.html %}

     <script type="application/ld+json">{% include organization.json %}</script>
     <script type="application/ld+json">{% include website.json %}</script>
     <script type="application/ld+json">{% include webpage.json %}</script>

    {% include header.html %}

    <div id='main' role='main'>
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
